* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1 {
  width: 100%;
  height: 200px;
  background-image: url(img.exercise/box1.jpg);
  background-size: cover;
  background-position: center;
}

.box2 {
  width: 100%;
  height: 200px;
  background-image: url(img.exercise/box2.jpg);
  background-size: cover;
  background-position: center;
}

.box3 {
  width: 100%;
  height: 200px;
  background-image: url(img.exercise/box3.jpg);
  background-size: cover;
  background-position: center;
}

.box4 {
  width: 100%;
  height: 200px;
  background-image: url(img.exercise/box4.jpg);
  background-size: cover;
  background-position: center;
}